@import "~node_modules/modern-normalize/modern-normalize.css";
* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  position: relative;
  max-width: 100%;
  background-color: white;
  transition: all 0.3s ease-in-out;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}
.container {
  margin: auto;
  min-width: 320px;
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 768px;
    padding-left: 76px;
    padding-right: 76px;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }
}

//darkmode

body.dark {
  background-color: $darkmode-background-color;
  color: white;
}

.footer.dark {
  background-color: $secondary-background-color;
  color: white;
}

.film-modal {
  &.dark {
    background-color: $secondary-background-color;
    color: white;
    border:1px solid $footer-text-color;
    border-radius: 5px;
  }

  &.dark button {
    color: white;
    border-color: white;
  }

  &.dark .film-modal-close-icon {
    stroke: white;
  }
}

.Pagination.dark {
  & svg {
    fill: black;
  }

  .Pagination__arrow:hover svg {
    fill: white;
  }
}

.footer.dark a {
  color: white;
}

.darkmode-toggle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: 30px;
  width: 70px;
  border-radius: 100px;
  background-color: transparent;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 1;
  @media screen and (max-width: 767px) {
    display: flex;
    position: absolute;
    top: 6px;
    right: 0.2%;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    position: absolute;
    top: 6px;
    right: 1%;
  }
}
.darkmode-toggle::before {
  content: "";
  position: absolute;
  height: 23px;
  width: 23px;
  background: $accent-color;
  border-radius: 50%;
  top: 50%;
  left: 43px;
  transform: translateY(-50%);
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.darkmode-toggle.active::before {
  background-color: $darkmode-background-color;
  left: calc(100% - 40px - 25px);
}

.darkmode-icon {
  color: $accent-color;
}

//scrollbar
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #545454;
}

::-webkit-scrollbar-thumb {
  background: $accent-color;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 107, 1, 0.6);
}
