.cookies {
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
    font-size: 18px;

    &__container {
        width: 1600px;
        margin: auto;
    }

    &__subcontainer {
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    } 

    &__text {
        min-height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 15px 0;;
    }

    &__btn {
        border-radius: 5px;
        padding: 8px 12px;
        border: 1px solid $accent-color;
        background-color: $accent-color;
        color: white;
        transition: linear 0.3s;
        font-size: 18px;
        margin-bottom: 20px;

        &:hover {
            background-color: $footer-text-color;
            border: 1px solid $accent-color;
            cursor: pointer;
        }
        
    }

    & a {
        color: $accent-color;
        font-weight: 500;
        text-decoration: none;
    }
    
}

@media (max-width: 1600px) {
    .cookies__container {
        width: 100%;}
}

