.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 100%;
  //display:none; -> fixuje bug na headerze//trzeba dodać skalowanie z szerokością kontenera
}

