.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 100%;
  //display:none; -> fixuje bug na headerze//trzeba dodać skalowanie z szerokością kontenera
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .empty {
    max-width: 768px;
    padding-left: 76px;
    padding-right: 76px;
  }
}
@media only screen and (min-width: 1024px) {
  .empty {
    max-width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }
}


