.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #545454;
    line-height: 19px;
    background-color: #F7F7F7;
    padding-top: 30px;
    padding-bottom: 28px;

    &-underline {
        text-decoration: underline;
    }
}   

