.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $footer-text-color;
    line-height: 16.41px;
    background-color: $footer-background-color;
    padding-top: 30px;
    padding-bottom: 28px;

    &__dev {

        padding-top: 10px;
        
        &-team{
            text-decoration: underline;
            cursor: pointer;
            color: $footer-text-color;
            transition: all 0.2s ease-in-out;

            &:hover {
                color: $accent-color;
            }
        }
    }   
}

@media only screen and (min-width: 768px) {
    .footer {
        flex-direction: row;

        &__dev {
            padding-top: 0;
        }   
    }
}
