/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 40px;
  height: 218px;

  @media screen and (max-width: 767px) {
    padding-top: 42px;
    min-width: 320px;
    height: 230px;
    background-image: url("../images/header-mobile.jpg");

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../images/header-mobile@2x.jpg");
    }

    .logo-text {
      display: none;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    background-image: url("../images/header-tablet.jpg");

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../images/header-tablet@2x.jpg");
    }

    .logo-text {
      margin-left: 8px;
    }
  }

  @media screen and (min-width: 1024px) {
    background-image: url("../images/header-desktop.jpg");

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../images/header-desktop@2x.jpg");
    }

    .logo-text {
      margin-left: 10px;
    }
  }
}

header.header--bgc {
  @media screen and (max-width: 767px) {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(0, 0, 0, 0.56)),
        to(rgba(0, 0, 0, 0.56))
      ),
      url("../images/library-header-mobile.jpg");
    background-image: -o-linear-gradient(
        left,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url("../images/library-header-mobile.jpg");
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url("../images/library-header-mobile.jpg");

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: -webkit-gradient(
          linear,
          left top,
          right top,
          from(rgba(0, 0, 0, 0.56)),
          to(rgba(0, 0, 0, 0.56))
        ),
        url("../images/library-header-mobile@2x.jpg");
      background-image: -o-linear-gradient(
          left,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url("../images/library-header-mobile@2x.jpg");
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url("../images/library-header-mobile@2x.jpg");
    }

    .logo-text {
      display: none;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(0, 0, 0, 0.56)),
        to(rgba(0, 0, 0, 0.56))
      ),
      url("../images/library-header-tablet.jpg");
    background-image: -o-linear-gradient(
        left,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url("../images/library-header-tablet.jpg");
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url("../images/library-header-tablet.jpg");

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: -webkit-gradient(
          linear,
          left top,
          right top,
          from(rgba(0, 0, 0, 0.56)),
          to(rgba(0, 0, 0, 0.56))
        ),
        url("../images/library-header-tablet@2x.jpg");
      background-image: -o-linear-gradient(
          left,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url("../images/library-header-tablet@2x.jpg");
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url("../images/library-header-tablet@2x.jpg");
    }
  }

  @media screen and (min-width: 1024px) {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(0, 0, 0, 0.56)),
        to(rgba(0, 0, 0, 0.56))
      ),
      url("../images/library-header-desktop.jpg");
    background-image: -o-linear-gradient(
        left,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url("../images/library-header-desktop.jpg");
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url("../images/library-header-desktop.jpg");

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: -webkit-gradient(
          linear,
          left top,
          right top,
          from(rgba(0, 0, 0, 0.56)),
          to(rgba(0, 0, 0, 0.56))
        ),
        url("../images/library-header-desktop@2x.jpg");
      background-image: -o-linear-gradient(
          left,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url("../images/library-header-desktop@2x.jpg");
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url("../images/library-header-desktop@2x.jpg");
    }
  }
}

.header-container {
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  max-width: 768px;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
  }

  @media screen and (min-width: 1024px) {
    max-width: 1023px;
  }
}

.nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 767px) {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 300px;
    margin-bottom: 50px;
    margin-left: 6px;
    margin-top: 20px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1024px) {
    margin-bottom: 40px;
  }
  &__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    @media screen and (max-width: 767px) {
      margin-left: 15px;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
      margin-right: 120px;
    }

    @media screen and (min-width: 1024px) {
      margin-right: 300px;
    }
  }
}

.logo-text {
  display: block;
  font-family: $main-font;
  color: $secondary-text-color;
  font-size: 30px;
  line-height: 1.16;
  font-weight: 500;
  -webkit-transition: 250ms color $animation-function,
    250ms -webkit-transform $animation-function;
  transition: 250ms color $animation-function,
    250ms -webkit-transform $animation-function;
  -o-transition: 250ms color $animation-function,
    250ms transform $animation-function;
  transition: 250ms color $animation-function,
    250ms transform $animation-function;
  transition: 250ms color $animation-function,
    250ms transform $animation-function,
    250ms -webkit-transform $animation-function;
  &:hover,
  &:focus {
    color: $accent-color;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  &__link {
    color: $secondary-text-color;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.17;
    font-family: $main-font;
    font-weight: 500;
    -webkit-transition: 250ms color $animation-function,
      250ms -webkit-transform $animation-function;
    transition: 250ms color $animation-function,
      250ms -webkit-transform $animation-function;
    -o-transition: 250ms color $animation-function,
      250ms transform $animation-function;
    transition: 250ms color $animation-function,
      250ms transform $animation-function;
    transition: 250ms color $animation-function,
      250ms transform $animation-function,
      250ms -webkit-transform $animation-function;
    &:hover {
      color: $accent-color;
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
    }

    &--active {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        display: inline-block;
        width: 100%;
        height: 3px;
        background-color: $accent-color;
      }
    }
  }

  @media screen and (max-width: 767px) {
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin-right: 100px;
  }
  &__item:not(:last-child) {
    margin-right: 40px;
  }

  @media screen and (min-width: 1024px) {
    margin-right: 30px;
  }
}

.header__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

input:-webkit-autofill {
  -webkit-transition: all 5000s ease-in-out 0s;
  transition: all 5000s ease-in-out 0s;
}

.header__input {
  padding-bottom: 4px;
  background: transparent;
  color: $secondary-text-color;
  outline: none;
  border: none;
  height: 20px;
  width: 100%;
  border-bottom: 1px solid $secondary-text-color;

  @media screen and (max-width: 767px) {
    margin-bottom: 92px;
    max-width: 280px;
    font-family: $main-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 80px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    max-width: 336px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 394px;
  }
}

.header__input::-webkit-input-placeholder {
  color: $secondary-text-color;
}

.header__input::-moz-placeholder {
  color: $secondary-text-color;
}

.header__input:-ms-input-placeholder {
  color: $secondary-text-color;
}

.header__input::-ms-input-placeholder {
  color: $secondary-text-color;
}

.header__input::placeholder {
  color: $secondary-text-color;
}

.header__submit {
  position: absolute;
  background-color: inherit;
  border: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform 250ms $animation-function;
  transition: -webkit-transform 250ms $animation-function;
  -o-transition: transform 250ms $animation-function;
  transition: transform 250ms $animation-function;
  transition: all 250ms $animation-function,
    -webkit-transform 250ms $animation-function;

  margin-left: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  @media screen and (max-width: 767px) {
    right: 20px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    right: 182px;
  }

  @media screen and (min-width: 1024px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  &:focus,
  &:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    color: $accent-color;
  }
}

.btn-watched,
.btn-queue {
  text-transform: uppercase;
  cursor: pointer;
  color: $secondary-text-color;
  font-family: $main-font;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  border-color: $secondary-text-color;
  border-radius: 5px;
  background-color: transparent;

  -webkit-transition: background-color 250ms $animation-function;

  -o-transition: background-color 250ms $animation-function;

  transition: background-color 250ms $animation-function;

  @media screen and (max-width: 767px) {
    width: 130px;
    height: 44px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 152px;
    height: 44px;
  }

  @media screen and (min-width: 1024px) {
    width: 148px;
    height: 42px;
  }
  &:hover,
  &:focus {
    border: 0px;
    background-color: $accent-color;
    box-shadow: (0px 8px 30px $my-library-button-shadow);
  }
}

.btn-watched {
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin-right: 32px;
  }

  @media screen and (min-width: 1024px) {
    margin-right: 16px;
  }
}

.js-box--padding {
  padding-bottom: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;

  @media screen and (max-width: 767px) {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    margin-bottom: 90px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.google-box {
  @media screen and (max-width: 767px) {
  }

  @media screen and (min-width: 1280px) {
    display: flex;
  }
}
.google-userpic {
  border-radius: 20px;
  display: flex;
}
.google-username {
  font-weight: 700;
}
.js-box-out {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 767px) {
    position: relative;
    left: 10%;
    top: -4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    top: -3;
    left: -120%;
  }
  @media screen and (min-width: 1024px) {
    position: relative;
    top: -10;
    right: 90%;
  }
}

.userdata-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-family: $main-font;
  font-size: 30px;

  color: $secondary-text-color;
  font-size: 10px;
}
.google-email {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.google-btn,
.google-btn--logout {
  color: $secondary-text-color;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-color: $secondary-text-color;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  position: absolute;
  transition: 250ms color $animation-function,
    250ms transform $animation-function;
  top: 50;
  right: 5%;
  transition: fill 250ms $animation-function;
  @media screen and (max-width: 767px) {
    position: relative;
    top: 3;
    right: 10%;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    position: relative;
    top: 4;
    right: 150;
  }
  @media (min-width: 1024px) {
    position: relative;
    top: 3;
  }
}
.google-btn {
  transition: 250ms color $animation-function,
    250ms transform $animation-function;
  @media (min-width: 1024px) {
    position: relative;
    top: 3;
    left: -700%;
  }
}
.google-btn--logout {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 250ms color $animation-function,
    250ms transform $animation-function;

  @media screen and (max-width: 767px) {
    position: relative;
    top: 5;
    right: 5;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    position: relative;
    right: 4;
    top: 10;
  }
  @media screen and (min-width: 1024px) {
    position: absolute;
    top: 60;
    right: 42%;
  }

  &:hover {
    color: $accent-color;
    background-size: 20px;
  }
  &:focus {
    color: $accent-color;
  }
}

.google-btn:hover,
.google-btn:focus,
.google-btn--logout:hover,
.google-btn--logout:focus {
  color: $accent-color;
}

.button-hidden {
  display: none;
}
