$main-font: "Roboto", sans-serif;

$primary-text-color: #000000; //on light background
$secondary-text-color: #ffffff; //on dark background
$footer-text-color: #545454;
$movie-description-color-text: #8c8c8c; // Vote, Popularity, Original Title, Genre
$alert-text-color: #ff001b;

$accent-color: #ff6b08; //orange

$primary-background-color: #e5e5e5;
$secondary-background-color: #f7f7f7; //for footer and arrow buttons
$darkmode-background-color: #18191a;
$secondary-background-color: #101010;

$my-library-button-shadow: rgba(255, 107, 1, 0.6);

$animation-function: cubic-bezier(0.4, 0, 0.2, 1);
