$main-font: 'Roboto', sans-serif;

$primary-text-color: #000000; //on light background
$secondary-text-color: #ffffff; //on dark background
$footer-text-color: #545454;
$movie-description-color-text: #8C8C8C; // Vote, Popularity, Original Title, Genre
$alert-text-color: #FF001B;

$accent-color: #FF6B08; //orange

$primary-background-color: #E5E5E5;
$secondary-background-color: #F7F7F7; //for footer and arrow buttons 

$my-library-button-shadow: rgba(255, 107, 1, 0.6);


