<header class="header">
  <div class="header-container">
    <nav class="nav-box">
      <a href="./index.html" class="nav-box__link">
        <svg width="24" height="24">
          <use href="./images/symbol-defs.svg#film"></use>
        </svg>
        <span class="logo-text">Filmoteka</span>
      </a>
      <ul class="nav-list">
        <li class="nav-list__item">
          <a
            id="home"
            class="nav-list__link nav-list__link--active"
            href="./index.html"
            >Home</a
          >
        </li>
        <li class="nav-list__item">
          <a id="library" class="nav-list__link" href="">MY LIBRARY</a>
        </li>
      </ul>
    </nav>

    <div class="js-box">
      <form class="search-form" id="search-form">
        <label class="header__label">
          <input
            class="header__input"
            type="text"
            name="movieSearch"
            placeholder="Search movie..."
          />
          <button type="submit" class="header__submit">
            <svg width="12" height="12">
              <use href="./images/symbol-defs.svg#search-2"></use>
            </svg>
          </button>
        </label>
      </form>
    </div>
  </div>
</header>
