<section class="MainPage">
  <div class="Container GalleryContainer"></div>
</section>

<template class="GalleryTemplate">
  <figure class="MainPage__PhotoContainer">
    <img
      class="MainPage__Img"
      src="https://picsum.photos/seed/picsum/200/300"
      alt=""
    />
    <figcaption class="MainPage__TextBox">
      <p class="MainPage_PhotoTitle">Title</p>
      <div>
        <p class="MaiPage__PhotoDescription Main__PhotoDescription--Type"></p>
          Type
        </p>
        <p class="MainPage__PhotoDescription MainPage__PhotoDescription--"
          >Year</span
        >
      </div>
    </figcaption>
  </figure>
</template>
