<section class="MainPage">
  <div class="container MainPage__container">
    <ul class="MainPage__Grid"></ul>
  </div>
</section>

<template class="GalleryTemplate">
  <li class="MainPage__Item">
    <figure class="MainPage__PhotoContainer">
      <div class="ImgWrapper">
        <img
          class="MainPage__Img skeleton"
          src="https://picsum.photos/seed/picsum/200/300"
          alt=""
        />
      </div>
      <figcaption class="MainPage__TextBox">
        <p class="MainPage__PhotoTitle skeleton__text"></p>
        <div class="MainPage__PhotoDescription">
          <p
            class="MainPage__PhotoType MainPage__PhotoType--after skeleton__text"
          ></p>
          <p class="MainPage__PhotoYear skeleton__text"></p>
        </div>
      </figcaption>
    </figure>
  </li>
</template>
